<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>swagger-changes-detector</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <script>
      if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>
    <div id="app-bootstrap"></div>
    <style>
    #app-bootstrap {
      background-position: center;
      background-repeat: no-repeat;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      left: 0;
      z-index: 999999;
      background-image: url('<%= require('../build/icons/256x256.png') %>');
    }
    </style>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
